<div ng-controller="IndexController">

  <super-navbar>
      <super-navbar-title>
          Expressing Needs
      </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/expressing_needs_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--expressing-needs"> EXPRESSING <br> YOUR NEEDS</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #00B5FF;">
      <div class="super-heart col col-5 col-center"></div>
      <div class="col col-90"> Express your needs in a way that your partner will respond to and understand.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>It would be wonderful if our partners knew what we wanted- but most of us are not psychic. The magic is, the better you get at expressing what you need in positive, non-demanding ways, the more your partner can "be there" for you and help you get what you want.</p>
    <p>Some needs are harder than others to talk about, however, and that’s why we created this app. If there’s something you’ve been wanting to tell your sweetheart lately but didn’t know how, scroll through and find what you think you need at the moment. Then show it to your partner. Or better yet, tell him or her in a gentle, soft way.</p>
  </div>

  <super-navigate view-id="begin-questions">
      <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>